<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.petobesityprevention.app.android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.hardware.camera2.full"/>

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:name=".APOPapp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".ImageCaptureActivity"
            android:configChanges="keyboard|orientation|screenSize"/>
        <activity android:name=".AccountCreationActivity" />
        <activity android:name=".SubmissionActivity" />
        <activity android:name=".SurveyActivity" />
        <activity android:name=".ThankYouActivity"/>
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>